h1 {
    color: blue;
    border: 1px dashed salmon;
    font-size: 50px;
}

p{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
    font-size: 30px;
    color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.static {
    position: static;
    width: 30%;
    /* 30% of the browser size */
    padding: 30px;
}

.relative {
    position: relative;
    /* left: 100px; */
    width: 100vw;
    /* vw: view width (entire horizontal size) */
}

.fixed {
    position: fixed;
    width: 100%;
    height:25%;
    bottom: 0;
    right: 0;
}

.absolute{
    position: absolute;
    top: 80px;
    left: 300px;
}

.sticky{
    position: sticky;
    top: 0;
}

/* ul li {
   position: sticky; 
} */

h2{
    position: fixed;
    top: 100px;
}

div{
    background: red;
    position: relative;
}